/* CSS FORM */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');

:root{
  --grey : #e5e5e5;
  --blue : #0096d3;
  --black : #191919;
  --pink : #e87bf9;
  --darker-pink : #cc66cc;
}

.form-btn{
  display: block;
  position: fixed;
  top: 40px;
  right: 65px;
  border-radius: 50px;
  background: var(--pink);
  font-family: 'poppins', sans-serif;
  padding: 5px 10px;
  font-weight: bolder;
  color: #0a192f;
}

.modal-body{
  background:  var(--black);
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: white;
}

.modal-header{
  height: 40px;
}

.modal-title{
  color: var(--black);
}

#container-form{
  width: 400px;
  height: 550px;
  margin: 60px auto 50px;
  padding: 20px;
}

#container-form h1, #container-form h4{
  text-align: center;
}

#container-form h1{
  font-size: 36px;
  font-weight: bold;
}

#container-form h4{
  font-size: 16px;
  font-weight: lighter;
  margin: 10px 0 40px;
}

.input-container{
  margin: 20px 0;
  background: rgb(255,255,255, 0.2);
  width: inherit;
  height: 40px;
  border-radius: 30px;
}

.input-icon{
  text-align: center;
  line-height: 40px;
  float: left;
  width: 35px;
  height: inherit;
}

.input-field{
  height: inherit;
  width: 320px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  padding-left: 5px;
}

.input-field:focus{
  outline: none !important;
}

input::placeholder{
  color: white;
  opacity: 0.6;
}

input:-webkit-autofill{
  font-size: 16px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white !important;
}

#name-input img, #email-input img{
  margin-left: 5px;
}

input#agreement-check{
  float: left;
  width: 15px;
  height: 15px;
  margin: 4px 10px 10px 0;
}

#term-aggreement{
  margin: 0 auto;
  width: 330px;
}

#agreement-text{
  font-size: 14px;
  text-align: justify;
}

#submit-btn{
  background: var(--pink);
  border: none;
  border-radius: inherit;
  width: 360px;
  color: var(--black);
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
}

#submit-btn:hover{
  cursor: pointer;
  background: var(--darker-pink);
}

#have-account{
  text-align: center;
}

#have-account a{
  color: white;
}

/* CSS CV */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
  background: #0a192f;
  color: var(--pink);
  font-family: 'poppins', sans-serif;
}

.container{
  width:70%;
  margin: 0 auto;
  margin-top: 120px;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 30px;
  color: #8791af;
}

@keyframes blink {
  0%{opacity: 1}
  50%{opacity: 0}
  100%{opacity: 1}
}

.lineText{
  margin-left: 10px;
  width: 4px;
  background: var(--pink);
  position: absolute;
  color: rgb(0,0,0,0);
  animation: blink 1s linear infinite; ;
}

.greyText{
  color: #ccd6f6;
}

.intro{
  color: #8791af;
  width: 600px;
  font-size: 16px;
  line-height: 25px;
}

#navbar{
  position: fixed;
  text-align: right;
  bottom: 50px;
  right: 75px;
}

#navbar ul{
  list-style-type: none;
}

#navbar ul li a{
  color: var(--pink);
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

#navbar ul li a:hover{
  color: #ccd6f6;
}

#logoIcon{
  margin-top: 40px;
}

.logoIcon{
  display: inline;
  margin-left: 10px;
}

#tentang{
  margin-top: 250px;
  margin-bottom: 200px;
}

.subHeader:after{
  display: inline-block;
  position: relative;
  opacity: 0.7;
  top: 20px;
  content: "-";
  margin-left: 10px;
  color : rgb(0,0,0,0);
  background: #8791af;
  width: 300px;
  height: 1px;
}

.clearFix:after{
  content: "";
  display: table;
  clear: both;
}

#tentang h2{
  color: #ccd6f6;
}

.textTentang{
  color: #8791af;

  width: 600px;
  font-size: 16px;
  float: left;
}

.skillList{
  columns: 2;
  width: 400px;
}

ul.skillList li{
  list-style-type: none;
  color: var(--pink);
}

ul.skillList li:before{
  content:"";
  background-image: url("img/list.png");
  background-size: 10px 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 7px;
  margin-right: 10px;
}

ul.skillList span{
  color: #8791af;
}

.profilePhoto{
  float: left;
  margin-left: 120px;
  border: 1.5px solid var(--pink);
}

#pengalaman{
  margin-top: 200px;
  margin-bottom: 200px;
  clear: both;
}

#pengalaman h2{
  color: #ccd6f6;
}

.tabPengalaman{
  background: #0a192f;
  color: #8791af;
  height: 50px;
  line-height: 35px;
}

.tabPengalaman:hover{
  background: #0a192f;
  color: #8791af;
  border-right: 1.5px solid var(--pink);
}

.tabPengalaman:active{
  background: rgb(232,123,249, 0.2);
  color: rgb(232,123,249);
}

.tabPengalaman.active{
  background: #0a192f;
  color: #ccd6f6;
  border: none;
  border-right: 1.5px solid var(--pink);
}

.tabContentPengalaman{
  position: absolute;
  margin-left: 30px;
  margin-top: -5px;
}

.list-group{
  border-radius: 0px;
  box-sizing: border-box;
}

.listPengalaman{
  color: #8791af;
  margin: 15px 0;
}

.jabatan{
  color: #ccd6f6;
}

.listPengalaman:before{
  content:"";
  background-image: url("img/list.png");
  background-size: 10px 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 7px;
}

#portofolio{
  margin-top: 200px;
  margin-bottom: 200px;
}

#portofolio h2{
  color: #ccd6f6;
}

.portofolioCard {
  margin: 7px 5px;
  background: #10213e;
  color: #8791af;
  border-radius: 20px;
  border: 0.5px solid #8791af;
}

.portofolioCard:hover{
  background: #223351;
  position: relative;
  top: -5px;
}

.imgPortofolio{
  padding-top: 13px;
}

.card-text{
  padding: 20px 0;
  margin-top: -10px;
}

.redirectLink{
  position: relative;
  bottom: 10px;
  left: 200px;
  margin-bottom: 20px;
}

.lihatFull a{
  color: #0a192f;
  text-decoration: none;
}
